<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,user-scalable=yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <title>Certiface</title>

        <link href="css/certiface.css" rel="stylesheet" />

        <link href="lib/sweetalert/sweetalert.css" rel="stylesheet" />
    
        <link rel="shortcut icon" href="img/favicon.ico"/>
    </head>

    <body>
        <div class="content">
            <div class="container">

                <section id="sectionVideo">
                    <div class="outer r4x3">
                        <div class="inner">
    
                            <div id="divPowered">
                                <span class="spanMsg"></span>
                            </div>
    
                            <div id="overlay" class="overlay">
                            </div>
                            
                            <div id="content-video" class="content-video">
                                <video id="player" >
                                </video>
                            </div>
    
                            <div id="divButton" class="divButton" style="display: none;">
                                <button id="btnIniciar" class="rect green">Capturar</button>
                            </div>
    
                        </div>
                    </div>
                </section>

                <section id="sectionImage" style="display: none;">
                    <div class="outer r4x3">
                        <div id="innerImage" class="inner">
                            
                            <div id="divLoader" style="display: none;">
                                <span id="spanEnviando">Enviando...</span>
                                <div class="loader"></div>
                            </div>

                            <canvas id="image_canvas"></canvas>

                            <div id="divButtonEnviar" class="divButton">
                                <button id="btnVoltar" class="rect green">Voltar</button>
                                <button id="btnEnviar" class="rect green">Enviar</button>                                
                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </div>

        <canvas id="fc_canvas"></canvas>
        
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/hmac-sha256.js"></script>
        <script src="js/enc-base64-min.js"></script>

        <script src="lib/sweetalert/sweetalert.min.js" charset="UTF-8"></script>

        <script src="js/adapter-latest.js" charset="UTF-8"></script>

        <script src="js/certiface.js" charset="UTF-8"></script>

        <script charset="UTF-8">
            
        </script>

    </body>

</html>
